body {
  font-family: Arial, sans-serif;
}
#saida-produtos {
  border: 2px solid #ccc;
  padding: 20px;
  width: 400px;
  margin: 0 auto;
  border-radius: 10px;
}
.form-row {
  margin-bottom: 1px;
}
label {
  display: inline-block;
  width: 100%; /* Define uma largura fixa para os rótulos */
  font-weight: normal;
  text-align: left; /* Alinha os rótulos à direita */
  margin-right: 10px; /* Adiciona uma margem à direita para separar os rótulos dos campos */
}
input[type="text"],
input[type="number"],
input[type="date"] {
  width: calc(100% - 10px); /* Define a largura dos campos de entrada */
  padding: 10px;
  border: 2px solid #ccc;
  border-radius: 2px;
  box-sizing: border-box;
}
button {
  margin-top: 20px; /* Adiciona margem superior ao botão */
  padding: 14px 25px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
button[type="button"] {
  background-color: #dc3545;
}
h1 {
  text-align: center; /* Centraliza o título */
}
