h1 {
  font-size: 30px;
  color: rgb(17, 16, 16);
  position: relative;
  padding: 20px;
}

p {
  font-size: 15px;
  color: rgb(17, 16, 16);
  position: relative;
  padding: 20px;
}
.row {
  padding: 0 250px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; /* Centraliza o conteúdo horizontalmente */
}

.card {
  background-color: #588c92;
  padding: 20px;
  margin-top: 20px;
  text-align: justify;
  width: 100%;
}

.cardContato {
  background-color: rgb(255, 213, 213);
  padding: 20px;
  margin-top: 20px;
  text-align: left;
}
