@media screen and (max-width: 768px) {
  section,
  aside,
  body,
  iframe {
    width: 100%;
    padding: 0;
    font-size: 14px;
  }
}

@media screen and (max-width: 600px) {
  nav li,
  header h1,
  h1,
  p {
    font-size: 20px;
    float: none;
    text-align: center;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  header h1,
  h1,
  p {
    font-size: auto;
    float: none;
    text-align: center;
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    flex-direction: column; /* Altera a direção do flex para coluna */
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
    margin-top: 10px;
  }

  .nav-list li {
    margin: 10px 0; /* Adiciona margem entre os itens */
  }

  .menu-icon {
    display: flex; /* Garante que o ícone do menu seja exibido */
  }

  .nav-list {
    display: none; /* Oculta a lista de navegação */
  }

  .menu-icon {
    display: flex; /* Exibe o ícone do menu */
    align-self: flex-end; /* Alinha o ícone do menu à direita */
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column;
    /* Altera a direção do flex para coluna */
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
    margin-top: 10px;
  }

  .nav-list li {
    margin: 10px 0; /* Adiciona margem entre os itens */
  }

  .menu-icon {
    display: flex; /* Garante que o ícone do menu seja exibido */
  }

  .nav-list {
    display: none; /* Oculta a lista de navegação */
  }

  .menu-icon {
    display: flex; /* Exibe o ícone do menu */
    align-self: flex-end; /* Alinha o ícone do menu à direita */
  }
}

@media screen and (max-width: 600px) {
  .navbar {
    flex-direction: column; /* Altera a direção do flex para coluna */
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    align-items: center; /* Centraliza os itens verticalmente */
    margin-top: 10px;
  }

  .nav-list li {
    margin: 10px 0; /* Adiciona margem entre os itens */
  }

  .menu-icon {
    display: flex; /* Garante que o ícone do menu seja exibido */
  }

  .nav-list {
    display: none; /* Oculta a lista de navegação */
  }

  .menu-icon {
    display: flex; /* Exibe o ícone do menu */
    align-self: flex-end; /* Alinha o ícone do menu à direita */
  }
}
